body{
    background-color: #455a64;
}
@media only screen and (max-width: 600px) {
    .searchbarfix{
        height: 56px !important;


    }
}
@media only screen and (min-width: 601px) {
    .searchbarfix{
        height: 64px !important;

    }
}

/*Override the stupid misaligning shit*/
.input-field .label-icon{
    transform: translateY(0px) !important;
}

.autocomplete-content {
    position:absolute;
}

.news-model-img{
    alignment: center;
}

#article-more-button {
    padding-bottom: 10px;
}

.row {
    margin-bottom: 0;
}

.flow-text {
    padding: 5px;
}