body{
    background-color: #455a64;
    color: #00ffcc;
}

/*Override the stupid misaligning shit*/
.input-field .label-icon{
    transform: translateY(0px) !important;
}

.autocomplete-content {
    position:absolute;
}

.news-model-img{
    alignment: center;
}

#article-more-button {
    padding-bottom: 10px;
}

.row {
    margin-bottom: 0;
}

.flow-text {
    padding: 5px;
}

.chartContainer {
    border-style: solid;
}

.current-price {
    color: #ffffff;
}

.card-content:after {
  display: compact;
  width: 100%;
}

.sidenav-icons{
    display: inline-flex;
    vertical-align: bottom;
}

