body{
    background-color: #455a64;
    color: #00ffcc;
}
/*.pricing_header{*/
    /*text-align: center;*/
/*}*/

@media only screen and (max-width: 600px) {
    .searchbarfix{
        height: 56px !important;
    }
}
@media only screen and (min-width: 601px) {
    .searchbarfix{
        height: 64px !important;

    }
}

/*Override the stupid misaligning shit*/
.input-field .label-icon{
    transform: translateY(0px) !important;
}

.autocomplete-content {
    position:absolute;
}

.news-model-img{
    alignment: center;
}

#article-more-button {
    padding-bottom: 10px;
}

.row {
    margin-bottom: 0;
}

.flow-text {
    padding: 5px;
}

.chartContainer {
    border-style: solid;
}

.current-price {
    color: #ffffff;
}

.card-content:after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}

.material-icons{
    display: inline-flex;
    vertical-align: bottom;
    font-size: 25px !important;
    padding-top: 6px;
}
