<template name="News">
    <div class="container news-container">
        <h1 class="header">Top News</h1>
        {{#each newsArticle in newsArticles}}
            {{> article newsArticle=newsArticle}}
        {{/each}}
    </div>


</template>

<template name="article">
    <div class="col s12 m7">
        <div class="card horizontal hide-on-small-only blue-grey darken-3">
            {{> articleContent newsArticle=newsArticle}}
        </div>
        <div class="card vertical hide-on-med-and-up blue-grey darken-3">
            {{> articleContent newsArticle=newsArticle}}
        </div>
    </div>
</template>



<template name="articleContent">
    <div class="card-image">
        <img class="activator responsive-img" src="{{newsArticle.imageurl}}">
    </div>

    <div class="card-stacked">
        <div class="card-content">
            <h5>{{newsArticle.title}}</h5>
            <br />

            <p class="flow-text">
                {{#if newsArticle.prediction}}
                    {{#if isBuy}}
                        <span class="green-text flow-text">AI prediction: BUY</span>
                    {{else}}
                        <span class="red-text flow-text">AI prediction: SELL</span>
                    {{/if}}
                {{/if}}
            </p>

            <br/>

            <div class="hide-on-small-only">
                <p class="white-text">{{newsArticle.body}}</p>
            </div>

            <br/>

            <p align="right">
                <span class="white-text">-- {{newsArticle.published_on}}</span>
            </p>

        </div>
        <div class="card-action">
            <a href="{{newsArticle.url}}" class="article-modal-link">Visit page</a>

            <a class="card-title activator grey-text text-darken-4 hide-on-med-and-up waves-effect waves-light btn-small right"><i class="white-text material-icons right">fullscreen</i></a>
        </div>
    </div>
    <div class="card-reveal hide-on-med-and-up blue-grey darken-3">
        <img class="card-title responsive-img" src="{{newsArticle.imageurl}}">
        <span class="card-title text-lighten-3">{{newsArticle.title}}<i class="white-text material-icons right">close</i></span>
        <p class="white-text">{{newsArticle.body}}</p>
    </div>
</template>
