<template name="News">
    <div class="container news-container">
        <h1 class="header">Top News</h1>
        <div class="collection">
            {{#each newsArticle in newsArticles}}
                {{> article newsArticle=newsArticle}}
            {{/each}}
        </div>
    </div>


</template>

<template name="article">
    <div class="card collection-item">
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image waves-effect waves-block waves-light hide-on-small-only">
                    <img class="activator" src="{{newsArticle.imageurl}}">
                </div>
                <div class="card-stacked">

                    <div class="card-content">
                        <h5>{{newsArticle.title}}</h5>

                        <div class="hide-on-small-only">
                            <p>{{newsArticle.body}}</p>
                        </div>

                    </div>
                    <div class="card-action">
                        <a href="{{newsArticle.url}}" class="article-modal-link">Visit page</a>
                        <!--<a href="#modal1" class="modal-trigger grey-text text-darken-4 hide-on-med-and-up"><i class="material-icons right">fullscreen</i></a>-->
                        <a href="#modal1" class="waves-effect waves-light btn modal-trigger hide-on-med-and-up small right">More</a>

                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{newsArticle.title}}<i class="material-icons right">close</i></span>
                    <p>{{newsArticle.body}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>{{newsArticle.title}}</h4>
            <img class="responsive" src="{{newsArticle.imageurl}}">
            <p class="flow-text">{{newsArticle.body}}</p>
        </div>
        <div class="modal-footer">
            <a href="{{newsArticle.url}}" class="modal-action modal-close waves-effect waves-green btn-flat">Source Link</a>
        </div>
    </div>


</template>