<template name="News">
    <div class="container news-container">
        <h1 class="header">Top News</h1>
        <div class="collection">
            {{#each newsArticle in newsArticles}}
                {{> article newsArticle=newsArticle}}
            {{/each}}
        </div>
    </div>


</template>

<template name="article">
    <div class="card collection-item">
        <div class="col s12 m7">
            <div class="card horizontal hide-on-small-only">
                {{> articleContent newsArticle=newsArticle}}
            </div>
            <div class="card vertical hide-on-med-and-up">
                {{> articleContent newsArticle=newsArticle}}
            </div>
        </div>
    </div>

</template>

<template name="articleContent">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="{{newsArticle.imageurl}}">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <h5>{{newsArticle.title}}</h5>

            <div class="hide-on-small-only">
                <p class="flow-text" >{{newsArticle.body}}</p>
            </div>

        </div>
        <div class="card-action">
            <a href="{{newsArticle.url}}" class="article-modal-link">Visit page</a>
            <a href="#modal1" class="waves-effect waves-light btn activator hide-on-med-and-up small right">More</a>
        </div>
    </div>
    <div class="card-reveal hide-on-med-and-up">
        <img class="responsive-img" src="{{newsArticle.imageurl}}">
        <span class="card-title grey-text text-darken-4">{{newsArticle.title}}<i class="material-icons right">close</i></span>
        <p class="flow-text">{{newsArticle.body}}</p>
    </div>
</template>