<template name="Pricing">
    <head>
        <title>simple</title>
    </head>
    <div class="container">
        <h2 class="pricing_header">{{cryptocurrencySelection}}: ${{currentPrice}}</h2>
        {{> Test}}
        {{> cryptoCard}}
    </div>

    <div class="container">
        <h2>Price Prediction</h2>
        {{> PricePrediction}}
    </div>

</template>

<template name="cryptoCard">
    <div class="col s1 m4">
        <div class="card-panel blue-grey darken-1">
            <h5 class="cryptoCard_header">{{cryptocurrencySelection}}</h5>
            <p>Placeholder Value #1:</p>
            <p>Placeholder Value #2:</p>
            <p>Placeholder Value #3:</p>
            <p>Placeholder Value #4:</p>
        </div>
    </div>
</template>

<template name="Test">
    <span class="huge-text">Reserved for charts</span>
    <div id="container"></div>
</template>


<template name="PricePrediction">
    <div id="prediction-chart">
    </div>
</template>

<template name="PricePredictionList">
    <div class="container">
        <h2>Prediction for {{cryptocurrencySelection}}</h2>

        <ul class="collection">
            {{#each prediction in pricePrediction}}
                <li class="collection-item blue-grey darken-1">
                    <p>Time: {{prediction.time}}</p>
                    <p>Price: {{prediction.price}}</p>
                </li>
            {{/each}}
        </ul>
    </div>
</template>