<template name="Resources">
  <head>
    <title>Resources</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>Technical Term List</h1>
      <div class="row">
        {{#each terms}}
    <!-- NOTE: Here you give each value in terms into the template, and it can latch on to it and use it-->
          <!-- <div class="col s2 hide-on-med-and-up">
            {{> Term}}
          </div> -->
          <div class="col s12 hide-on-med-and-up">
              {{> Term}}
          </div>
          <div class="col s6 hide-on-small-only hide-on-large-only">
              {{> Term}}
          </div>
          <div class="col s4 hide-on-med-and-down">
              {{> Term}}
          </div>


        {{/each}}
      </div>
    </div>
  </body>
</template>


<template name="Term">
  <!-- NOTE: This uses 4/12 sections for each card, making 3 cards per row -->

     <div class="card">
       <div class="card-content black-text">
         <span class="card-title truncate">{{text}}</span>
       </div>
       <div class="card-action">
         <a href={{url}}>Investopedia Link</a>
       </div>
     </div>

</template>
