<template name="Resources">
  <head>
    <title>Resources</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>Technical Term List</h1>
      <div class="row">
        {{#each terms}}
    <!-- NOTE: Here you give each value in terms into the template, and it can latch on to it and use it-->

          <div class="col s12 hide-on-med-and-up">
              {{> Term}}
          </div>
          <div class="col s6 hide-on-small-only hide-on-large-only">
              {{> Term}}
          </div>
          <div class="col s4 hide-on-med-and-down">
              {{> Term}}
          </div>

        {{/each}}
      </div>
    </div>
  </body>
</template>


<template name="Term">

  <div class="card small blue-grey darken-3 hoverable">
   <div class="card-content" style="overflow:scroll">
     <span class="card-title truncate text-lighten-3">
      <h4 class="truncate">
        {{text}}
      </h4>
     </span>
     <span class="white-text"><p>{{description}}</p></span>
   </div>
   <div class="card-action">
     <a href={{url}}>Investopedia Link</a>
   </div>
  </div>

</template>
