<template name="HomeLayout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>

    </head>
    <div>
        <!--All items contained within header will show at all times EXCEPT for the links to the left which will change depending
         on which screen is viewed, i.e. if the home page is show then the news and resources links will appear, if news is shown
         then only the home and resources links will appear-->
        <header>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">

            {{> mainNav}}

        </header>
        <main>
            {{>Template.dynamic template=main}}
        </main>

    </div>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</template>

<template name="Main">

</template>

<template name="mainNav">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey darken-4">
                <a href="/" class="brand-logo center right hide-on-med-and-down">AI Cryptolizer</a>
                <ul class="left">
                    <li>
                        <a href="#" data-activates="slide-out" class="button-collapse-sidenav"><i
                                class="material-icons">menu</i></a>
                    </li>
                    <li>
                        {{> selectCrypto}}
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {{> mainSidenav}}

</template>

<template name="mainSidenav">
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view blue-grey darken-4">
                <h4>
                    <a href="/" class="white-text">AI Cryptolizer</a>
                </h4>
            </div>
        </li>

        <div class="collection">
            <a href="/" class="collection-item sidenav-close black-text"><i class="small material-icons sidenav-icons">local_atm</i> Pricing</a>
            <a href="/news" class="collection-item sidenav-close black-text"><i class="small material-icons sidenav-icons">library_books</i> News</a>
            <a href="/resources" class="collection-item sidenav-close black-text"><i class="small material-icons sidenav-icons">apps</i> Resources</a>
        </div>
    </ul>
</template>

<template name="selectCrypto">

    <li>
        <div class="center row">
            <div class="col s12 ">
                <form id="navbarsearch">
                    <div class="row" id="topbarsearch">
                        <div class="input-field col s6 s12">
                            <i class="material-icons prefix">search</i>
                            <input type="text" placeholder="Select Cryptocurrency" id="autocomplete-input"
                                   class="autocomplete">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>

</template>
