<template name="HomeLayout">
<!--All items contained within header will show at all times EXCEPT for the links to the left which will change depending
 on which screen is viewed, i.e. if the home page is show then the news and resources links will appear, if news is shown
 then only the home and resources links will appear-->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue-grey darken-4">
                    <a href="#" class="brand-logo center">AI Cryptolizer</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <!--<li><a href="sass.html">Sass</a></li>-->
                        <!--<li><a href="badges.html">Components</a></li>-->
                        <!--<li><a href="collapsible.html">JavaScript</a></li>-->
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="slide-out" class="side-nav fixed">
            <li><a href="#!">News</a></li>
            <li><a href="#!">Resources</a></li>
            <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <!--<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </header>
    <main>
        {{>Template.dynamic template=main}}
    </main>
</template>

<template name="Main">

    <nav> <!-- navbar content here  --> </nav>

    <ul id="slide-out" class="sidenav">
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
</template>