<template name="HomeLayout">
    <div >
        <!--All items contained within header will show at all times EXCEPT for the links to the left which will change depending
         on which screen is viewed, i.e. if the home page is show then the news and resources links will appear, if news is shown
         then only the home and resources links will appear-->
        <header>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">
            {{> mainNav}}

        </header>
        <main>
            {{>Template.dynamic template=main}}
        </main>

    </div>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--<script>-->
        <!--$(document).ready(function() {-->

        <!--});-->
    <!--</script>-->
</template>

<template name="Main">

</template>

<template name="mainNav">
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            <a href="/" class="brand-logo center search-hide">AI Cryptolizer</a>
            <ul class="left">
                <li>
                    <a href="#" data-activates="slide-out" class="button-collapse-sidenav"><i class="material-icons">menu</i></a>
                </li>
                <li>
                    {{> selectCrypto}}
                </li>
            </ul>
        </div>
    </nav>
    {{> mainSidenav}}

</template>

<template name="mainSidenav">
    <ul id="slide-out" class="side-nav blue-grey lighten-5">
        <li>
            <div class="user-view">
                <a href="#">AI Cryptolizer</a>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/">Pricing</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
</template>

<template name="selectCrypto">

    <form id="navbarsearch"><div class="navfix"><div id="navfix2">
        <div class="input-field">
            <input id="autocomplete-input" type="search" name="text" class="expandable-search autocomplete">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div></div></div>
    </form>

</template>