<template name="MainLayout">
    <header>
        <h1>AI Cryptolizer</h1>
        <a class="waves-effect waves-light btn">Bitcoin</a>
        <a class="waves-effect waves-light btn">Litecoin</a>
        <a class="waves-effect waves-light btn">Ethereum</a>
    </header>
    <main>
        <!--The following code inserts a template at the main position. Multiple templates in this forrmat can be
        placed here. In this way, for the various pages, we can begin to build them out. See routes.js for how the
        Test template is applied to the MainLayout route. In future, these templates will be further broken up and not
        included at the bottom of the layout htmls but we can decide on what is easier for everyone!-->
        {{>Template.dynamic template=main}}
    </main>
</template>

<template name="Test">
    Hello!
</template>